body {
    background-image: url("bg.jpg");
    background-size: cover;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: rgb(82, 21, 21);
}

.container{
    margin: auto;
    width: 30%;
    border: 3px solid rgb(13, 17, 13);
    padding: 10px;
    margin-top: 120px;
    background: white;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}
#increment-btn:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#save-btn {
    background: darkgreen;
}
#save-btn:hover {background-color: rgb(9, 0, 139)}


