body {
    /* background-image: url("bg.jpg"); */
    /* background-size: cover; */
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #353535;
}

.container{
    background: #F4F4F4;
    margin: auto;
    width: 40%;
    /* border: 3px solid rgb(13, 17, 13); */
    background: #F4F4F4;
    margin-top: 60px;
    height: 700px;
   
}
 .box1{
    background: #6943FF;
    height: 210px;
    padding: 12px 40px 40px 40px;
}
.box1 p{
    color: white;
    font-size: 25px;
    
}
.box1 input{
    width: 60px;
    height: 50px;
    color: white;
    font-size: 40px;
    padding: 5px;
    background: #6943FF;
    border: 2px solid rgb(255, 255, 255);
}
.box2{
    background: #FFFFFF;
    margin: 10px;
    padding: 10px;
}
button {
    border: 2px solid rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 150px;
    /* margin: 20px; */
    border-radius: 5px;
    display: block;
    margin-top: 20px;
    margin-left: 200px;
    
}

button:active {
  background-color: #212221;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
  color: #FFFFFF;
}



