:root {
    --color-primary: #fb7413;
    --color-white: #ffffff;
    --color-medium-grey: #7c8798;
    --color-dark-blue: #252d37;
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: "Overpass", sans-serif;
    background: hsl(216, 12%, 8%);  }

.star {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background: hsl(216, 12%, 54%);
    margin: 10px 0px;
}

.star svg {

    display: block;
    padding-top: 10px;
    margin: auto;
}

.container {
    /* border: 2px solid red; */
    padding: 50px 50px;
    border-radius: 20px;
    background: hsl(213, 19%, 18%);
    width: 500px;
}

.container h1 {
    color: hsl(0, 0%, 100%);
    padding: 11px 0px;
}

.container p {
    font-size: 20px;
    color: hsl(217, 12%, 63%);
    
}


/* .buttons .features {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.features ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features ul li {
    list-style: none;
    margin: 0px 5px;
    margin: 25px 19px;
    height: 40px;
    width: 40px;
    display: flex;
    border: 2px solid hsl(25, 97%, 53%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;


}

.features ul li:hover {
    color: aliceblue;
    background: hsl(25, 97%, 53%);
}

.features button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 13px 12px;
    border-radius: 30px;
    background: hsl(218, 23%, 16%);
    color: hsl(25, 97%, 53%);
}

.features button:hover {
    color: hsl(218, 23%, 16%);
    background: hsl(25, 97%, 53%);
}

.buttons .submitRate {
    margin: 25px 0px;
    width: 400px;
    border-radius: 15px;
    padding: 8px 0px;
    font-size: large;
    border: 2px solid hsl(25, 97%, 53%);
    background: hsl(25, 97%, 53%); 
}
.buttons .submitRate:hover{
    color: hsl(220, 13%, 86%);
    background: hsl(216, 12%, 8%); 
      }  */

      .form {
        width: 100%;
      }
      
      .form div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
        margin-bottom: 10px;
      }
      
      .form__radio-input {
        display: none;
      }
      
      .form__radio-label {
        display: block;
        cursor: pointer;
        margin-right: 55px;
        margin-bottom: 50px;
      }
      
      .form__radio-button {
        height: 50px;
        width: 50px;
        background-color: var(--color-dark-blue);
        border-radius: 100%;
        border: 2px solid orange;
        position: absolute;
        transition: background-color 0.2s;
      }
      
      .form__radio-button::after {
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-medium-grey);
        opacity: 0;
        transition: opacity 0.2s;
      }
      
      .form__radio-button div {
        position: absolute;
        top: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        color: var(--color-whitegd);
        font-weight: 400;
        z-index: 2;
      }
      
      .form__radio-button:hover {
        background-color: var(--color-primary);
      }
      
      .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
        opacity: 1;
      }
      
      .form__button {
        width: 100%;
        padding: 12px 20px;
        border-radius: 20px;
        border: none;
        font-size: 18px;
        cursor: pointer;
        background-color: var(--color-primary);
        color: var(--color-white);
        transition: background-color 0.2s, color 0.2s;
      }
      
      .form__button:hover {
        color: var(--color-primary);
        background-color: var(--color-white);
      }
      
.thank-you__title {
    font-size: 30px;
    color: var(--color-white);
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  
  .thank-you__description {
      font-size: 15px;
      font-weight: 400;
      color: var(--color-medium-grey);
      line-height: 1.6;
      margin-bottom: 15px;
  }
  
  .thank-you {
      text-align: center;
      width: 450px;
      background-color: var(--color-dark-blue);
      border-radius: 15px;
      padding: 15px 15px;
      
    }
    
    .thank-you .thank-you-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
    
    .thank-you .result {
      display: inline-block;
      background-color: var(--color-dark-blue);
      padding: 5px 15px;
      border-radius: 20px;
      color: var(--color-primary);
      font-weight: 400;
      margin-bottom: 20px;
    }
  
    .attribution {
      font-size: 18px;
      text-align: center;
      /* border: 2px solid red; */
      position: absolute;
      bottom: 5px;
  }
    
  
  attribution {
      font-size: 11px;
      text-align: center;
  }
  
  .attribution a {
      color: hsl(228, 45%, 44%);
  }